@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* Cabeçalho */

#header {
    padding: 0.8em 0 0.1em 0.1em ;
}

    #header .logo > * {
            display: inline-block;
            vertical-align: middle;
        }

        #header .logo .symbol img {
                width: 10em;
                height: 13.4em;
            }
    
    #header .title{
        font-family: 'Oswald';
        font-size: 120px;
        letter-spacing: 0;
        color: salmon;
        font-weight: 600;
    }
