/*Basic*/

body {
    background-color: #fff7f2;
}

/* Header */

#header {
    padding: 0.8em 0 0.1em 0.1em ;
}

    #header .logo > * {
            display: inline-block;
            vertical-align: middle;
        }

        #header .logo .symbol img {
                width: 10em;
                height: 13.4em;
            }
    
    #header .title{
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 120px;
        letter-spacing: 0;
        color: #ff979c;
        font-weight: 400;
        transform: scaleY(150%);
    }